{% extends 'pts/base.html' %}

{% block title %}Stock List{% endblock %}

{% block content %}
    <h1 class="mb-4">Stock List</h1>
    {% if stocks %}
        <table class="table table-striped table-hover">
            <thead class="table-dark">
                <tr>
                    <th>Drug</th>
                    <th>Quantity</th>
                    <th>Location</th>
                    <th>Date Added</th>
                </tr>
            </thead>
            <tbody>
                {% for stock in stocks %}
                    <tr>
                        <td>{{ stock.drug.name }}</td>
                        <td>{{ stock.quantity }}</td>
                        <td>{{ stock.location }}</td>
                        <td>{{ stock.date_added }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p class="alert alert-info">No stocks available.</p>
    {% endif %}
{% endblock %}